### Commons
dist
build
tmp
.tmp
.run
.cache

### Windows
Thumbs.db
[Dd]esktop.ini

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### macOS
.DS_Store

# Thumbnails
._*

### Linux
*~

### JetBrains
.idea/
.idea_modules/
out/

### VisualStudioCode
.vscode/*

### Archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.xar

# Packing-only formats
*.iso
*.tar

# Package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.txz

### Backup
*.gho
*.ori
*.orig
*.tmp

### Node
logs
*.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
web_modules/
node_modules/
jspm_packages/
bower_components/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

### Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map
